/* main/static/main/style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #f5ed00;
    background-color: rgb(153, 127, 255);
}

h1 {
    color: #0d0b76;
}

p {
    color: #00522f;
}
